.head {
    border: solid black;
    border-bottom: 2px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 10px;
    gap: 50px;
    padding: 0;
    overflow: hidden;
    display: flex;
}


.nav li a{
    text-decoration: none;
    font-family: 'Times New Roman';
    font-size: 30px;
    color: black;
}

.nav li a:hover {
    color: white;
    background-color: black;
    transition: 0.3s ease-in-out;
}

.nav li a:focus {
    color: brown;
    background-color: black;
}

h1 {
    font-size: 70px;
    color: #f2f2f2;
    font-family: 'Eagle Lake';
    font-weight: bold;
    letter-spacing: 2px;
}

.hero {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(imgs/1_COP.jpg);
    height: 350px;
    color: #f2f2f2;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-family: 'Eagle Lake';
    font-weight: bold;
}

h3 {
    font-family: 'Eagle Lake';
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 15px;
    font-family: 'Lucida Handwriting';
    letter-spacing: 2px;
}

.items li p {
    font-size: small;
}

figcaption {
    font-size: 15px;
    font-family: 'handwriting';
}

a {
    font-family: 'Times New Roman';
    color: black;
}

ul.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
}